In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression as LR

In [5]:
df=pd.read_csv("/content/drive/MyDrive/aiml/Melbourne_housing_FULL.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [6]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [7]:
df.shape

(34857, 21)

In [8]:
df.info()  #information of columns example data types non null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [9]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [10]:
#taking columns based on datatype
#Numerical and non numerical columns

In [15]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [23]:
df.dtypes[df.dtypes!='object']

Rooms              int64
Price            float64
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
Lattitude        float64
Longtitude       float64
Propertycount    float64
dtype: object

In [21]:
df.dtypes[df.dtypes!='object'].index

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

In [24]:
num_col=df.dtypes[df.dtypes!='object'].index.values  #stores numerical data type columns in array named num_col
num_col

array(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'], dtype=object)

In [26]:
cat_col=df.dtypes[df.dtypes=='object'].index.values  #non numerical columns
cat_col

array(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date',
       'CouncilArea', 'Regionname'], dtype=object)

In [27]:
#curse of dimensionality
#only the best features to be kept
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [31]:
df['Suburb'].nunique()>50

True

In [28]:
df.Address.nunique()>50

True

In [33]:
#we will remove categorical columns(non numerical columns) which has more than 50 unique values
for col in cat_col:
  if df[col].nunique()>50:
    df=df.drop(col,axis=1)

In [35]:
df.nunique()

Rooms               12
Type                 3
Price             2871
Method               9
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [36]:
df.shape

(34857, 17)

In [37]:
df[['Rooms','Bedroom2']]

       Rooms  Bedroom2
0          2       2.0
1          2       2.0
2          2       2.0
3          3       3.0
4          3       3.0
...      ...       ...
34852      4       4.0
34853      2       2.0
34854      2       2.0
34855      3       NaN
34856      2       2.0

[34857 rows x 2 columns]

In [41]:
df=df.drop(columns=['Bedroom2','Postcode','Lattitude','Longtitude'])
df.shape

(34857, 13)

In [42]:
df.isnull().sum()

Rooms                0
Type                 0
Price             7610
Method               0
Distance             1
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [45]:
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [46]:
df.isnull().sum()

Rooms                0
Type                 0
Price             7610
Method               0
Distance             1
Bathroom          8226
Car               8728
Landsize             0
BuildingArea         0
YearBuilt        19306
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [53]:
df['Bathroom']=df['Bathroom'].fillna(df['Bathroom'].mode().values[0])  #since mode is in series .values[0] is necessary
df['Car']=df['Car'].fillna(df['Car'].mode().values[0])
df['Distance']=df['Distance'].fillna(df['Distance'].mode().values[0])
df['Propertycount']=df['Propertycount'].fillna(df['Propertycount'].mode().values[0])

In [54]:
df.isnull().sum()

Rooms                0
Type                 0
Price             7610
Method               0
Distance             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea         0
YearBuilt        19306
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [55]:
df[['YearBuilt']]  #first find the age of the building by subtracting present year and yearbuilt.then fill nan values with mode of age of the building

       YearBuilt
0            NaN
1            NaN
2         1900.0
3            NaN
4         1900.0
...          ...
34852        NaN
34853     2018.0
34854     2000.0
34855        NaN
34856     1930.0

[34857 rows x 1 columns]

In [56]:
df['YearBuilt']=2021-df['YearBuilt']

In [57]:
df['YearBuilt']=df['YearBuilt'].fillna(df['YearBuilt'].mode().values[0])

In [58]:
df.isnull().sum()

Rooms               0
Type                0
Price            7610
Method              0
Distance            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [59]:
df['Price']=df['Price'].fillna(df['Price'].mean())
df.isnull().sum()

Rooms            0
Type             0
Price            0
Method           0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      3
Regionname       3
Propertycount    0
dtype: int64

In [62]:
df=df.dropna()  #drops the rows containing NaN values
df.isnull().sum()

Rooms            0
Type             0
Price            0
Method           0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [64]:
df2=df.copy().select_dtypes(exclude='object')
df2

,Rooms,Price,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount
0,2,1.050173e+06,2.5,1.0,1.0,126.000000,160.2564,51.0,4019.0
1,2,1.480000e+06,2.5,1.0,1.0,202.000000,160.2564,51.0,4019.0
2,2,1.035000e+06,2.5,1.0,0.0,156.000000,79.0000,121.0,4019.0
3,3,1.050173e+06,2.5,2.0,1.0,0.000000,160.2564,51.0,4019.0
4,3,1.465000e+06,2.5,2.0,0.0,134.000000,150.0000,121.0,4019.0
...,...,...,...,...,...,...,...,...,...
34852,4,1.480000e+06,6.3,1.0,3.0,593.000000,160.2564,51.0,6543.0
34853,2,8.880000e+05,6.3,2.0,1.0,98.000000,104.0000,3.0,6543.0
34854,2,7.050000e+05,6.3,1.0,2.0,220.000000,120.0000,21.0,6543.0
34855,3,1.140000e+06,6.3,1.0,2.0,593.598993,160.2564,51.0,6543.0
34856,2,1.020000e+06,6.3,1.0,0.0,250.000000,103.0000,91.0,6543.0

In [68]:
x=df2.drop('Price',axis=1).values
y=df2['Price'].values

In [69]:
y

array([1050173.34495541, 1480000.        , 1035000.        , ...,
        705000.        , 1140000.        , 1020000.        ])

In [70]:
from sklearn.model_selection import train_test_split as split

In [71]:
x_train,x_test,y_train,y_test=split(x,y,random_state=2)

In [72]:
x.shape

(34854, 8)

In [73]:
y.shape

(34854,)

In [74]:
x_train.shape

(26140, 8)

In [75]:
x_test.shape

(8714, 8)

In [76]:
y_train.shape

(26140,)

In [77]:
y_test.shape

(8714,)

In [78]:
model=LR()

In [79]:
model.fit(x_train,y_train)

LinearRegression()

In [80]:
y_pred=model.predict(x_test)
y_pred

array([ 912027.78380951, 1005031.34239193, 1227938.15197248, ...,
        507024.71652679, 1015759.32522718,  925226.61718462])

In [81]:
y_test

array([ 820000.        ,  680000.        , 1388000.        , ...,
        760000.        , 1050173.34495541,  445000.        ])

In [82]:
df2.head(0)

Empty DataFrame
Columns: [Rooms, Price, Distance, Bathroom, Car, Landsize, BuildingArea, YearBuilt, Propertycount]
Index: []

In [83]:
x_test[0]

array([  2.        ,   5.9       ,   1.        ,   2.        ,
       593.59899336, 160.25640036,  51.        , 394.        ])

In [84]:
a=np.array([[1,4.2,1,1,400,150,20,500]])

In [85]:
model.predict(a)

array([595510.22976693])

In [89]:
from sklearn.metrics import mean_squared_error,r2_score

In [90]:
mean_squared_error(y_pred,y_test)

207464398564.0018

In [93]:
r2_score(y_test,y_pred)

0.3158892845482729