In [ ]:
#pandas
#it is used for data analysis
#Series and dataframes
#series is 1D and data frames is 2D
#Dataframes can be thought as a spread sheet ie rows and columns and could also be understood as a combination of multiple series
#series=It is similar to numpy array,but a few difference.it could have customized labeled index.
#if any values are misssing in numpy,it will not detect them but in series it will be represented as NaN(not a number)

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [ ]:
a[0]

1

In [ ]:
import pandas as pd
s=pd.Series(data=a)  #or pd.Series(a)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s[4]

5

In [ ]:
lst1=[10,30,23,45,67]
labels=['v','w','x','y','z']

In [ ]:
s1=pd.Series(data=lst1,index=labels)
s1

v    10
w    30
x    23
y    45
z    67
dtype: int64

In [ ]:
#create a series using numpy array,use np.arange to create an array
#use a fancy index.the index should contain a list of names of your classmates

In [ ]:
arr=np.arange(1,11,2)
fancyind=['sneha','shamitha','sinchana','Karthik','Sushma']
series=pd.Series(data=arr,index=fancyind)
series

sneha       1
shamitha    3
sinchana    5
Karthik     7
Sushma      9
dtype: int64

In [ ]:
#dataframes

In [ ]:
mydataset={
    'cars':['BMW','Volvo','Fiat'],
    'values':[3,7,2]
}

In [ ]:
type(mydataset)

dict

In [ ]:
pd.DataFrame(mydataset)

    cars  values
0    BMW       3
1  Volvo       7
2   Fiat       2

In [ ]:
marks=np.random.randint(20,50,size=(4,4))  # or marks=np.random.randint(20,50,(4,4))
marks

array([[22, 20, 44, 37],
       [37, 41, 24, 37],
       [38, 32, 43, 40],
       [42, 28, 29, 33]])

In [ ]:
Subjects=['Math','Computers','Biology','Sports']
names=['Peter','Josh','Rob','John']

In [71]:
df=pd.DataFrame(marks,index=names,columns=Subjects)
df

       Math  Computers  Biology  Sports
Peter    22         20       44      37
Josh     37         41       24      37
Rob      38         32       43      40
John     42         28       29      33

In [ ]:
df['Math']

Peter    22
Josh     37
Rob      38
John     42
Name: Math, dtype: int64

In [ ]:
df[['Math']]

       Math
Peter    22
Josh     37
Rob      38
John     42

In [72]:
#to add columns
df['Total']=df['Math']+df['Computers']+df['Biology']+df['Sports']
df

       Math  Computers  Biology  Sports  Total
Peter    22         20       44      37    123
Josh     37         41       24      37    139
Rob      38         32       43      40    153
John     42         28       29      33    132

In [73]:
df['percentage']=(df['Total']/200)*100
df

       Math  Computers  Biology  Sports  Total  percentage
Peter    22         20       44      37    123        61.5
Josh     37         41       24      37    139        69.5
Rob      38         32       43      40    153        76.5
John     42         28       29      33    132        66.0

In [ ]:
type (df)

pandas.core.frame.DataFrame

In [74]:
#to drop columns
df1=df.drop('percentage',axis=1)# axis=1 represents columns(removal of columns) and axis=0 is x axis
df1

       Math  Computers  Biology  Sports  Total
Peter    22         20       44      37    123
Josh     37         41       24      37    139
Rob      38         32       43      40    153
John     42         28       29      33    132

In [75]:
df2=df1.drop("Josh",axis=0)   #assigning to a variable and then print is compulsory
df2

       Math  Computers  Biology  Sports  Total
Peter    22         20       44      37    123
Rob      38         32       43      40    153
John     42         28       29      33    132

In [76]:
d={'Cricket':[1,3,np.nan,4,6,7,2,np.nan],
   'Baseball':[5,np.nan,np.nan,5,7,4,7,3],
   'Tennis':[1,2,3,4,5,6,7,8]}

In [77]:
df=pd.DataFrame(d)
df

   Cricket  Baseball  Tennis
0      1.0       5.0       1
1      3.0       NaN       2
2      NaN       NaN       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       4.0       6
6      2.0       7.0       7
7      NaN       3.0       8

In [ ]:
#handling of missing values
#drop the rows or columns containing missing values  (dropna)
# 1 fill the missing values with 0  (fillna)
# 2 fill the missing values with mean or median or mode (fillna)

In [78]:
df1=df.dropna(axis=0)
df1

   Cricket  Baseball  Tennis
0      1.0       5.0       1
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       4.0       6
6      2.0       7.0       7

In [79]:
df2=df.dropna(axis=1)
df2

   Tennis
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8

In [80]:
df.fillna(value=0)

   Cricket  Baseball  Tennis
0      1.0       5.0       1
1      3.0       0.0       2
2      0.0       0.0       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       4.0       6
6      2.0       7.0       7
7      0.0       3.0       8

In [81]:
df['Cricket']=df['Cricket'].fillna(value=df['Cricket'].median())
df

   Cricket  Baseball  Tennis
0      1.0       5.0       1
1      3.0       NaN       2
2      3.5       NaN       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       4.0       6
6      2.0       7.0       7
7      3.5       3.0       8

In [82]:
df['Baseball']=df['Baseball'].fillna(value=df['Baseball'].median())
df

   Cricket  Baseball  Tennis
0      1.0       5.0       1
1      3.0       5.0       2
2      3.5       5.0       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       4.0       6
6      2.0       7.0       7
7      3.5       3.0       8

In [83]:
df=df.set_index([['alpha','bravo','charlie','delta','echo','foxtrot','golf','hotel']])
df
#df.reset_index(inplace=True)

         Cricket  Baseball  Tennis
alpha        1.0       5.0       1
bravo        3.0       5.0       2
charlie      3.5       5.0       3
delta        4.0       5.0       4
echo         6.0       7.0       5
foxtrot      7.0       4.0       6
golf         2.0       7.0       7
hotel        3.5       3.0       8

In [84]:
df.reset_index(inplace=True)
df

     index  Cricket  Baseball  Tennis
0    alpha      1.0       5.0       1
1    bravo      3.0       5.0       2
2  charlie      3.5       5.0       3
3    delta      4.0       5.0       4
4     echo      6.0       7.0       5
5  foxtrot      7.0       4.0       6
6     golf      2.0       7.0       7
7    hotel      3.5       3.0       8