In [11]:
print("hello folks")

hello folks

In [3]:
a=10
b=12
c=a
a=b
b=c
print(a,b)

12 10

In [2]:
#example1
a=10
i=1
while i<a:
     print((i+1)*10)
     i+=1

20
30
40
50
60
70
80
90
100

# Basics

In [1]:
#hello world
print("hello,world")

hello,world

In [20]:
a=10
b=10

if a > b:
    print("halo")
elif a == b: 
    print("hello")
else:
    print("namaskara")

hello

In [29]:
a=False
b=False
x="rahul"
y="sai"
z="daksh"
if a > b:
    print(type(a))
elif a == b: 
    print(y)
else:
    print(z)

sai

In [30]:
a=False
print(type(a))

<class 'bool'>

In [38]:
x=y=z= "rahul"
print(x)
print(y)
print(z)

rahul
rahul
rahul

In [49]:
fruits=['apple','banana','ornage']
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
ornage

In [52]:
fruits=['apple','banana','ornage']
x,y,z = fruits
print(x, y, z)

apple banana ornage

In [53]:
x,y,z=10,12,15
print(x+y+z)

37

In [55]:
fruits=[10,'banana',10.5]
x,y,z = fruits
print(type(x),x , type(y),y, type(z),z)

<class 'int'> 10 <class 'str'> banana <class 'float'> 10.5

In [56]:
x = "awesome"

print("Python is " + x)

Python is awesome

In [4]:
x = "awesome"
y= "not good"
def myfunc():
  print("Python is " + y)

myfunc()

Python is not good

In [62]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [64]:
x = 1j
print(type(x))

<class 'complex'>

# LIST Data types

In [91]:
#lists
x = ["apple", "banana", "cherry"]
print(x[0])

apple

In [166]:
#int, bool,strin list
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [170]:
#access list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

In [169]:
thislist = ["apple", "banana", "cherry", "watermelon"]
print(thislist[1:3])

['banana', 'cherry']

In [172]:
thislist = ["apple", "banana", "cherry"]
print(thislist[:2])

['apple', 'banana']

In [173]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2:])

['cherry']

In [174]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [185]:
#change list items
#replace
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:23] = ["blackcurrant", "watermelon"] #replace
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [183]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"] #replace
print(thislist)

['apple', 'watermelon']

In [186]:
#insert items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [187]:
#append 
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [188]:
#extend
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [1]:
#remove items
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [5]:
#remove using pop
thislist = ["apple", "banana", "cherry", "watermelon", "water"]
thislist.pop(2)
print(thislist)

['apple', 'banana', 'watermelon', 'water']

In [6]:
#remove using indexing
thislist = ["apple", "banana", "cherry", "watermelon", "water"]
del thislist[2:4]
print(thislist)

['apple', 'banana', 'water']

In [7]:
#clearing everything
thislist = ["apple", "banana", "cherry", "watermelon", "water"]
thislist.clear()
print(thislist)

[]

In [167]:
#dictionaries
x = {"name" : "John", "age" : 36}
print(x)
print(dict["name"])

{'name': 'John', 'age': 36}
dict['name']

In [8]:
#list using loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [12]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(i,thislist[i])

0 apple
1 banana
2 cherry

In [13]:
#list using while
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [14]:
#sorting the list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
#sorting descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [16]:
#reverse the list 
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [17]:
#copy of list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [18]:
#copy example 2
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [19]:
#joining the 2 list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [20]:
#join example 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [93]:
#set
x = {"apple", "banana", "cherry"}
print(type(x),x)

<class 'set'> {'apple', 'cherry', 'banana'}

In [75]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x),x)

<class 'frozenset'> frozenset({'apple', 'cherry', 'banana'})

In [76]:
x = True
print(type(x),x)

<class 'bool'> True

# TUPLE Datatypes

In [21]:
#tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [22]:
#accessing tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [23]:
#indexing tuples
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [26]:
#update tuples
#Convert the tuple into a list to be able to change it:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(y)

['apple', 'banana', 'cherry', 'orange']

In [28]:
#removing tuple
#convert to list and remove
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(y)

['banana', 'cherry']

In [1]:
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [8]:
#using astrick
#Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [9]:
#tuple using loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [10]:
#join tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [77]:
#tuple type
x = ("apple", "banana", "cherry")
print(type(x),x)

<class 'tuple'> ('apple', 'banana', 'cherry')

In [11]:
#multiply the tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [18]:
#methods of tuple (count)
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [19]:
#methods of tuple (index)
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# SET Datatypes

In [20]:
#set
#creating a set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [21]:
#in set True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [22]:
#get length of the set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
#access the set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [23]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [27]:
#adding items in set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange",)

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [28]:
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'mango', 'pineapple', 'apple', 'cherry'}

In [29]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'apple', 'orange', 'banana'}

In [30]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [31]:
#Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [32]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [33]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [5]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [38]:
#looping in set
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [50]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'a', 'c'}

In [40]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'a', 'c'}

In [41]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [42]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [43]:
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

In [44]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

In [45]:
#True and 1 is considered the same value:

x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

In [ ]:
#set methods
#Add an element to the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

In [46]:
#Remove all elements from the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [47]:
#fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

set()

In [48]:
#Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [49]:
#Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

# DICTIONARY Datatypes

In [ ]:
#creating the dict.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [52]:
#length of the dict.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3

In [53]:
#String, int, boolean, and list data types:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [55]:
#Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [57]:
#Get a list of the keys:

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [58]:
#Get the value of the "model" key:

x = thisdict.get("model")
print(x)

Mustang

In [60]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
print(car)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [62]:
#Get a list of the values:

x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [63]:
#Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [64]:
#Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [65]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [66]:
#Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [68]:
#change the values of dict.
#Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [69]:
#update the values
#Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [70]:
#Adding Items
#Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [72]:
#Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [73]:
#Removing Items
#There are several methods to remove items from a dictionary:
#pop method
#The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [74]:
#The popitem() method removes the last inserted item 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [75]:
#The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [76]:
#The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [80]:
#looping in dict.
#Print all key names in the dictionary, one by one:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

brand
model
year

In [86]:
#Print all values in the dictionary, one by one:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [82]:
#You can also use the values() method to return values of a dictionary:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [83]:
#You can use the keys() method to return the keys of a dictionary:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [87]:
#Loop through both keys and values, by using the items() method:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [88]:
#copying in dict.
#Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [89]:
#Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [92]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [96]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [104]:
#Print the name of child 2:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

In [100]:
x = range(6)
print(type(x),x)

<class 'range'> range(0, 6)

In [79]:
x = b"Hello"
print(type(x),x)

<class 'bytes'> b'Hello'

In [80]:

x = bytearray(5)
print(type(x),x)

<class 'bytearray'> bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = memoryview(bytes(5))
print(type(x),x)

In [81]:
x = None
print(type(x),x)

<class 'NoneType'> None

In [101]:
a="oyeeee machaaa"
print(len(a))

14

In [103]:
a="oyeeee machaaa how are u"
print("oyeeee"in a)

True

In [111]:
a="oyeeee machaaa how are u"
if "what"in a:
    print("hello")
else:
    print("hola")

hola

In [112]:
a="oyeeee machaaa how are u"
if "what" not in a:
    print("hello")
else:
    print("hola")

hello

In [115]:
a="oyeeee machaaa how are u"
print(a[10:16])

oyeeee machaaa h

In [116]:
a="oyeeee machaaa how are u"
print(a[:16])

oyeeee machaaa h

In [117]:
a="oyeeee machaaa how are u"
print(a[6:])

 machaaa how are u

# negative indexing

In [120]:
a="oyeeee machaaa how are u"
print(a[-5:-2])

are

# Python - Modify Strings
#upper case

In [121]:
a="hello collabera"
print(a.upper())

HELLO COLLABERA

In [123]:
#lower case
a="HELLO COLLABERA"
print(a.lower())

hello collabera

In [125]:
#Remove Whitespace
a="  HELLO COLLABERA"
print(a.strip())

HELLO COLLABERA

In [126]:
#Replace String
a="HELLO COLLABERA"
print(a.replace("E","f"))

HfLLO COLLABfRA

In [128]:
#Split String
a="HELLO COLLABERA folks"
print(a.split())

['HELLO', 'COLLABERA', 'folks']

# Python - String Concatenation

In [129]:
#String Concatenation
a = "Hello"
b = "Collabera"
c = a + b
print(c)

HelloCollabera

# Python - Format - Strings

In [130]:
#we can combine strings and numbers by using the format() method!
age = 36
txt = "My name is Rahul, and I am {}"
print(txt.format(age))

My name is Rahul, and I am 36

In [131]:
#example 2
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [132]:
#example 3
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters

In [134]:
##Escape Character
#The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [137]:
#next line
txt = "We are the so-called \nvikings from the north."
print(txt)

We are the so-called
vikings from the north.

In [138]:
#tab space
txt = "We are the so-called \tvikings from the north."
print(txt)

We are the so-called 	vikings from the north.

In [139]:
#Backspace
txt = "We are the so-called \bvikings from the north."
print(txt)

We are the so-called vikings from the north.

# Python - String Methods

In [143]:
#String Methods
#capitalize() Converts the first character to upper case
txt = "we are the so called \bvikings from the north."
print(txt.capitalize())
txt.isalpha()

We are the so called vikings from the north.

False

 # python boolean

In [145]:
print(10 > 9)
print(10 == 10)
print(10 < 9)

True
True
False

In [147]:
print(bool())
print(bool(15))

False
True

In [149]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [151]:
#Python also has many built-in functions that return a boolean value, like the isinstance() function,
#which can be used to determine if an object is of a certain data type:
x = 200
print(isinstance(x, str))

False

# Python Operators

In [153]:
#arithmatic operators
print(5 + 10)

15

In [161]:
#logical operators
x=10
print(x>7 and 6>x)
print(x>7 or 11>x)

False
True

In [156]:
#assignment operators
x=10
x+=3
print(x)

13

In [158]:
#comparision
x=10
y=5
print(x < y)
print(x > y)
print(x == y)
print(x <= y)
print(x >= y)
print(x != y)

False
True
False
False
True
True

In [163]:
#Python Bitwise Operators
x=1
y=0
print(x & y)
print(x | y)
print(x ^ y)
print(~y)
print(x << 2)
print(y >>3 )

0
1
1
-1
4
0

# While loop

In [105]:
i=1
while i <= 6:
    print(i)
    
    i+=1

1
2
3
4
5
6

In [107]:
i=1
while i <= 6:
    print(i)
    if i == 4:
        break
    i+=1

1
2
3
4

In [109]:
new= int(input("enter the number to count"))
i=0
while i <= new:
    print(i)
    
    i+=1

enter the number to count6
0
1
2
3
4
5
6

# Functions in python

In [8]:
def func():
    print("this is Functions in python")

func()

this is Functions in python

In [9]:
def myfunc(myname, lastname):
    print(myname + " "+ lastname)
    
myfunc("rahul","shetty")
myfunc("sai","prakash")

rahul shetty
sai prakash

In [22]:
operator=str(input("enter the operator"))
def calc(a,b,c):
    match operator:
        case "+":
            return a + b + c
        case "-":
            return a - b - c
        case default:
            return "error"

print(calc(4,5,6))

enter the operator-
-7

In [6]:

#     student_data={
#         "student1":{ 
#             "name" : "rahul",
#             "class" : "10",
#             "percentage" : 73.1
#         },
#         "student2":{
#             "name" : "sai",
#             "class" : "9",
#             "percentage" : 80.1
#         },
#         "student3":{
#             "name" : "lohit",
#             "class" : "8",
#             "percentage" : 58.5
#         }
        
#     }
#     if percenatage > 75:
#         print( "Distinction")
#     elif percentage < 75:
#         print( "First class")
#     else:
#         print( "Second class")

In [35]:
def perimeter(pie,rad):
    return 2 * pie * rad

perimeter(3.147,5)

31.47

# lambda

In [1]:
x = lambda a,b : a + b + a
print(x(5,4))

14

# Class and objects

In [23]:
class person:
    name = "rahul"
    age = "21"
    occupation = "Software engineer"
    CTC = "4LPA"
    def info(self):
        print(f"{self.name} is a {self.occupation} and having CTC of {self.CTC}")
    
a=person()
b=person()
b.name = "sai"
b.occupation= "HR"
b.CTC="5LPA"
a.info()
b.info()

In [41]:
class computer:
    def cofig(self):
        print("i5, lenovo thinkbook, 512GB SSD")

comp1=computer()
comp1.cofig()

i5, lenovo thinkbook, 512GB SSD

In [42]:
#f string
name="rahul"
age=21
greeting= f" hi my name is {name} and i am {age} years old"
print(greeting)

 hi my name is rahul and i am 21 years old

In [45]:
#__init__ function
class Person:
    # The __init__ function with parameters name and age
    def __init__(rahul, name, age):
        rahul.name = name
        rahul.age = age

    # A method to greet the person
    def greet(rahul):
        return f"Hello, my name is {rahul.name} and I am {rahul.age} years old."

# Creating an instance of the Person class
person1 = Person("Alice", 30)

# Accessing attributes and calling methods
print(person1.name) 
print(person1.age)  
print(person1.greet())

Alice
30
Hello, my name is Alice and I am 30 years old.

In [46]:
#__str__ function
class Person:
    # The __init__ function with parameters name and age
    def __init__(rahul, name, age):
        rahul.name = name
        rahul.age = age

    # A method to greet the person
    def __str__(rahul):
        return f"Hello, my name is {rahul.name} and I am {rahul.age} years old."

# Creating an instance of the Person class
person1 = Person("rahul", 30)

print(person1)

Hello, my name is Alice and I am 30 years old.

# inheritence

In [2]:
# Superclass (Base class)
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species

    def make_sound(self, sound):
        return f"{self.name} makes a {sound} sound."

# Subclass (Derived class)
class Dog(Animal):
    def __init__(self, name, breed):
        # Call the constructor of the superclass to initialize common attributes
        super().__init__(name, species="Dog")
        self.breed = breed

    # Override the make_sound method from the superclass
    def make_sound(self, sound="bark"):
        return f"{self.name} barks: {sound}!"

# Subclass (Derived class)
class Cat(Animal):
    def __init__(self, name, color):
        # Call the constructor of the superclass to initialize common attributes
        super().__init__(name, species="Cat")
        self.color = color

    # Additional method specific to Cat class
    def purr(self):
        return f"{self.name} purrs happily!"

# Create instances of the classes
dog1 = Dog("Buddy", "Labrador")
cat1 = Cat("Whiskers", "Orange")

# Accessing attributes and methods from the superclass
print(dog1.name)  # Output: Buddy
print(cat1.species)  # Output: Cat

# Calling methods from the superclass and subclass
print(dog1.make_sound())  # Output: Buddy barks: bark!
print(cat1.purr())  # Output: Whiskers purrs happily!

Buddy
Cat
Buddy barks: bark!
Whiskers purrs happily!

# Iterators

In [1]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [9]:
list1 =[1,3,54,23,88,22]

listitr = iter(list1)
print(next(listitr))
print(next(listitr))
print(next(listitr))
print(next(listitr))
print(next(listitr))
print(next(listitr))

1
3
54
23
88
22

In [31]:
# Create a string 
#iterator example1
my_string = "Hello, World!"


iter_string = iter(my_string)


print(next(iter_string))  
print(next(iter_string))  
print(next(iter_string))

H
e
l

In [32]:
#creating the own iterator
class MyIterator:
    def __init__(self):
        self.current_value = 0
        self.max_value =  max_value
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.current_value < self.max_value:
            result = self.current_value
            self.current_value += 1
            return result
        else:
            raise StopIteration

In [35]:
#example2
# Custom iterator class
#stop iteration
class MyIterator:
    def __init__(self, max_value):
        self.current = 0
        self.max_value = max_value

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < self.max_value:
            result = self.current
            self.current += 1
            return result
        else:
            raise StopIteration

# Create an iterator object
my_iter = MyIterator(6)

# Print the numbers using the iterator
# print(next(my_iter))  # Output: 0
# print(next(my_iter))  # Output: 1
# print(next(my_iter))  # Output: 2

for i in my_iter:
    print(i)

0
1
2
3
4
5

# polymorphism

In [36]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [38]:
#Inheritance Class Polymorphism

import math

# Base class (Superclass)
class Shape:
    def area(self):
        pass

# Subclass 1
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    # Override the area() method for rectangles
    def area(self):
        return self.width * self.height

# Subclass 2
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    # Override the area() method for circles
    def area(self):
        return math.pi * self.radius**2

# Create instances of the subclasses
rectangle = Rectangle(10, 3)
circle = Circle(3)

# Use polymorphism to call the area() method for each shape
shapes = [rectangle, circle]

for shape in shapes:
    print(f"Area of the shape: {shape.area()}")

Area of the shape: 30
Area of the shape: 28.274333882308138

# Python Scope

In [39]:
#local scope
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [40]:
#global scope
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [41]:
#built in modules
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [42]:
#built in modules
import platform

x = platform.system()
print(x)

Windows

# Python Dates

In [43]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-08-03 15:46:25.062410

In [45]:
import datetime as dt

x = dt.datetime.now()

print(x.year)
print(x.strftime("%A"))

2023
Thursday

In [47]:
#custumizing the date and time
import datetime as dt

x = dt.datetime(2020, 5, 17,19,59,10)

print(x)

2020-05-17 19:59:10

In [52]:
#strftime method
import datetime as dt

x = dt.datetime.now()
print(x.strftime("%a"),"and ",x.strftime("%b"))

Thu and  Aug

# built in math functions

In [53]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [54]:
x = abs(-7.25)

print(x)

7.25

In [57]:
x = pow(2, 3)

print(x)

8

# math module

In [58]:
import math

x = math.sqrt(64)

print(x)

8.0

In [59]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x)
print(y)

2
1

In [60]:
import math

x = math.pi

print(x)

3.141592653589793

# JSON

In [62]:
#Convert from JSON to Python:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y)
print(y["age"])

{'name': 'John', 'age': 30, 'city': 'New York'}
30

In [63]:
#Convert from Python to JSON:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [64]:
#Convert Python objects into JSON strings, and print the values:

import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [66]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=3))

{
   "name": "John",
   "age": 30,
   "married": true,
   "divorced": false,
   "children": [
      "Ann",
      "Billy"
   ],
   "pets": null,
   "cars": [
      {
         "model": "BMW 230",
         "mpg": 27.5
      },
      {
         "model": "Ford Edge",
         "mpg": 24.1
      }
   ]
}

In [67]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [68]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

# File handling

In [4]:
f = open("test1.txt", "a")
f.write("Now the file has more content!")

30

In [5]:
#creat new file
f = open("myfile.txt", "x")

In [7]:
f = open("myfile.txt", "a")
f.write("Now the file has more content!")
f.close()

In [8]:
#Remove the files

import os
os.remove("test1.txt")